.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 300px;
}

.mainContent {
  width: 80%;
  height: 400px;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #fffcf8;
  border-radius: 14% 0 0 0;
}

.vector123456 {
  width: 80%;
  height: 400px;
  margin-top: 300px;
  display: flex;
}

/* .vector123456 img {
  width: 100%;
} */

/* .vector87 img {
  width: 70%;
} */

.vector14 {
  width: 33.3%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 68% 0 0 0;
}

.vector1 {
  position: absolute;
  width: 350px;
  height: 170px;
  margin-bottom: 240px;
  margin-left: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector1 p {
  position: absolute;
  padding-top: 55px;
  padding-left: 35px;
  color: #000;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  width: 350px;
}

.vector1 .vec1 {
  position: absolute;
  margin-top: 90px;
  margin-left: 316px;
  width: 11%;
}

.vector4 {
  position: absolute;
  width: 290px;
  height: 120px;
  margin-top: 100px;
  margin-left: 70px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector4 p {
  position: absolute;
  padding-top: 35px;
  padding-left: 50px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  width: 300px;
}

.vector4 .vec4 {
  position: absolute;
  margin-top: 55px;
  margin-left: 267px;
  width: 10%;
}

.vector25 {
  width: 33.3%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vector2 {
  position: absolute;
  width: 330px;
  height: 190px;
  margin-bottom: 380px;
  margin-left: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector2 p {
  position: absolute;
  padding-top: 60px;
  padding-left: 35px;
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vector2 .vec2 {
  position: absolute;
  margin-top: 105px;
  margin-left: 305px;
  width: 15%;
}

.vector5 {
  position: absolute;
  width: 350px;
  height: 165px;
  margin-bottom: 50px;
  margin-left: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector5 p {
  position: absolute;
  padding-top: 70px;
  padding-left: 60px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vector5 .vec5 {
  position: absolute;
  margin-top: 90px;
  margin-left: 327px;
  width: 15%;
}

.vector36 {
  width: 33.3%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vector3 {
  position: absolute;
  width: 350px;
  height: 165px;
  margin-bottom: 430px;
  margin-left: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector3 p {
  position: absolute;
  padding-top: 65px;
  padding-left: 55px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vector3 .vec3 {
  position: absolute;
  margin-top: 133px;
  margin-left: 280px;
  width: 10%;
}

.vector6 {
  position: absolute;
  width: 310px;
  height: 160px;
  margin-bottom: 100px;
  margin-left: 60px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector6 p {
  position: absolute;
  padding-top: 65px;
  padding-left: 40px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vector6 .vec6 {
  position: absolute;
  margin-top: 115px;
  margin-left: 265px;
  width: 15%;
}

.vector78 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.vector7 {
  position: absolute;
  width: 330px;
  height: 130px;
  margin-top: -130px;
  margin-right: 300px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector7 p {
  position: absolute;
  padding-top: 35px;
  padding-left: 40px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  width: 318px;
}

.vector7 .vec7 {
  position: absolute;
  margin-top: 80px;
  margin-left: 295px;
  width: 15%;
}

.vector8 {
  position: absolute;
  width: 320px;
  height: 140px;
  margin-top: -170px;
  margin-left: 350px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 4px 11px rgba(0, 0, 0, 0.12));
}

.vector8 p {
  position: absolute;
  padding-top: 40px;
  padding-left: 60px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vector8 .vec8 {
  position: absolute;
  margin-top: 100px;
  margin-left: 270px;
  width: 15%;
}

.thinck1 {
  width: 20%;
  height: 400px;
  margin-top: 400px;
  background-color: #fffcf8;
}

.thinck1 img {
  position: absolute;
  margin-top: -160px;
  margin-left: -370px;
  width: 35%;
}
