.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px 40px 10px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
  animation: alternate fadeIn 0.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  height: 650px;
  padding: 60px 20px 50px 20px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0 0 10px rgba(255, 103, 0, 0.7));
  transition: transform 0.3s;
  gap: 15px;
  animation: alternate updowun 0.7s;
}

.modalContent.close {
  animation: downAnimation 0.7s alternate;
}

@keyframes updowun {
  from {
    transform: translateY(45px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes downAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(45px);
  }
}

.modalCloseBtn {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 30px;
  height: 30px;
  border: none;
  stroke: #a4a4a4;
  transition: stroke 0.3s;
  cursor: pointer;
}

.imgXclose {
  width: 100%;
}

.imgXclose:hover {
  width: 31px;
  height: 31px;
}

.modalContent h2 {
  color: #ffc158;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}

.nameSrname {
  width: 400px;
  height: 50px;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.nameSrname:hover {
  border: 2px solid #ff8d3f;
}

.modalInput1 {
  display: flex;
}

.email {
  width: 195px;
  height: 50px;
  flex-shrink: 0;
  margin-bottom: 10px;
  margin-right: 5px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.email:hover {
  border: 2px solid #ff8d3f;
  box-shadow: (0px 1px 4px 0px rgba(255, 141, 63, 1));
}

.telNumber {
  width: 195px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 5px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 5px;
}

.telNumber:hover {
  border: 2px solid #ff8d3f;
}

.problem {
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  padding-bottom: 50px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.problem:hover {
  border: 2px solid #ff8d3f;
}

.check1 {
  margin-right: 110px;
}

.check1 input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
}

.check1 input:hover {
  border: 2px solid #ff8d3f; /* chgitem meji guyn@ vonc poxem */
  cursor: pointer;
}

.check1 label {
  color: #a9a9a9;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 7px;
}

.check2 {
  margin-right: 110px;
}

.check2 input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
  box-shadow: (0px 1px 4px 0px rgba(255, 141, 63, 1));
}

.check2 input:hover {
  border: 2px solid #ff8d3f;
  cursor: pointer;
}

.check2 label {
  color: #a9a9a9;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 7px;
}

.modalSpan {
  width: 400px;
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modalSubmitBtn {
  margin-top: 10px;
  width: 256px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ff8d3f;
  color: #fff;
  transition: background-color 03s;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.modalSubmitBtn:hover {
  filter: drop-shadow(0 0 7px rgba(255, 141, 63, 1));
  background: #ffa161;
  cursor: pointer;
}
